<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.alu.cordova-service.example"
        version="0.0.1">

    <name>Foreground Service Example Cordova</name>
    <description>Example use for the Cordova Service plugin. Describe a minimal foreground android service that echoes on logcat.</description>
    <license>Apache 2.0</license>
    <keywords>Service</keywords>
    <repo>https://github.com/Khopa/CordovaService-Examples</repo>
    <issue>https://github.com/Khopa/CordovaService-Examples/issues</issue>

    <!-- android -->
    <platform name="android">

        <!-- Dependencies on the cordova-service plugin -->
        <dependency id="com.alu.cordova-service" url="https://github.com/Khopa/CordovaService"/>

        <!-- Bind example service -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.alu.service.example.ExampleServiceA" android:label="ExampleServiceA" >
            </service>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.alu.service.example.ExampleServiceB" android:label="ExampleServiceB" >
            </service>
        </config-file>

        <source-file src="src/android/com/alu/service/example/ExampleServiceA.java"
                     target-dir="src/com/alu/service/example" />

    </platform>

    <!-- ios : TODO -->


</plugin>
